body{
	margin: auto;
	padding: 5% 10%;
}

input{
	background: #F0F8FF;
}

.inputNome{	width: 96%; }
.inputCpf{ width: 30%; }
.inputTDoc{ width: 40%; }
.inputN{ width: 30%}
.inputEmail{ width: 84%; }
.inputEndFisico{ width: 99.2%; }
.inputCidade{ width: 47%; }
.inputEstado{ width: 28%; }
.inputUf{ width: 5%; }
.inputCep{ width: 12%; }
.inputPais{ width: 81.2%; }

fieldset{
	margin-top: 2%;
}
